@use 'variables';

header {
	height: 60px;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	display: flex;
}

nav {
	@include wrapper;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	font-size: 18px;
}

.nav-link {
	&:hover {
		color: variables.$accent-color;
	}
}

.login-buttons {
	display: flex;
	column-gap: 1rem;
}

.signup-btn {
	@include login-buttons;
	background: variables.$accent-color;
	color: black;
	&:hover {
		background-color: variables.$hover-color;
	}
}

.login-btn {
	@include login-buttons;
	background: transparent;
	border: 1px solid variables.$accent-color;
	color: variables.$accent-color;
	&:hover {
		background-color: variables.$hover-light;
	}
}

.user-icon-box {
	@include flex-center;
	flex-direction: row;
	column-gap: 2rem;
}

.user-icon-box .user-icon {
	@include flex-center;
	flex-direction: column;
	row-gap: 0.25rem;
}

.user-icon-box small {
	font-size: 12px;
}
